* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    background: black; 
}

.base {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

form {
    width: 50%;
    display: none;
    flex-direction: column;
}

.name {
    font-size: 700%;
    color: white;
}

.feedback {
    display: flex;
    flex-direction: column;
    font-size: 200%;
    color: yellow;
}

.input {
    display: block;
    border: 1px solid rgb(46, 80, 173);
    border-radius: 7px;
    padding: 8px 12px;
    margin: 7px;
    background: rgb(102, 135, 225);
    box-sizing: border-box;
    width: 100%;
    height: 36px;
}

.input:focus {
    outline: 0px;
    border-color: rgb(212, 220, 240);
}

.input::placeholder {
    color:rgb(212, 220, 240);
}


.question {
    width: 100%;
    height: 200px;
}

.submit {
    width: 50%;
}

.submit:hover {
    background: rgb(102, 135, 225);
}

.submit:active {
    box-shadow: inset 0 0 5px rgb(5, 23, 71);
}

.sending-confirmation {
    flex-direction: column;
    display: none;
    font-size: 200%;
    color: rgb(30, 166, 212);
}
